body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
  background-image:url("img/ofccfundo\ .png");
  background-attachment: fixed;
  background-size: 100%;
  height: 1000px;
}

.card-content {
  background: rgb(69, 94, 175); 
  backdrop-filter: blur(15px);
  border-radius: 25px;
  padding: 10px  35px;
  margin-top: 100px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  width: 380px;
  color: rgb(255, 255, 255);
}

.h1 h1 {
  padding: 0;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


input {
  width: 100%;
  padding: 15px 15px;
  margin: 18px 0;
  border: none;
  border-radius: 15px;
  background: rgba(233, 232, 232, 0.9);
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  background: rgb(255, 254, 254);
  box-shadow: 0 0 5px #21b3e0;
}


button {
  width: 100%;
  padding: 12px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  background: rgb(109, 174, 228);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-login {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 40px;
  background: rgb(109, 174, 228);
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none; 
  text-align: center;
}

.btn-login:hover {
  background: rgba(7, 22, 87, 0.616);
  transform: scale(1.02);
  text-decoration: none;
  color: white;
}

button:hover {
  background: rgba(7, 22, 87, 0.616);
  transform: scale(1.02);
}


a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  color:#d7bffa;
}

#mensagem {
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}

#cargo{
  width: 100%;
  padding: 15px 15px;
  margin: 18px 0;
  border: none;
  border-radius: 15px;
  background: rgba(245, 238, 247, 0.9);
  font-size: 15px;
  outline: none;
  transition: 0.3s;

}