body {
        background-image:url(img/estoque.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 100vh; /* Garante que o body tenha altura total */
        margin: 0; /* Remove a margem padrão do body */
    }
    h1 {
        color: white;
        text-align: center;
        padding-top: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .menu a {
    margin-right: 50px;
    text-decoration: none;
    color: rgb(231, 208, 102);
    font-weight: bold;
    transition: color 0.3s;
    font-size: 23px;
  }
  .menu a:hover {
  color: rgb(148, 32, 28); 
}

   .titulo {
  text-align: center;
  color: rgb(206, 201, 130);
  margin: 20px 0;
  padding-top: 80px;
}

.minhalista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 160px;
}
.card {
  background: rgba(20, 20, 20, 0.9);
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px; /* Você pode ajustar conforme o visual */
}
.card img {
  width: 100%;
  display: block;
  height: 340px;
  object-fit: cover;
}

.card-content {
  margin-top: auto; /* Empurra o link pro fim do card */
  padding: 10px;
  text-align: center;
}
.card a {
  text-decoration: none;
}
.card-content a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.card-content a:hover {
  background-color: rgb(231, 208, 102);
  color: black;
}
.card-content h3 {
    font-size: 16px;
    margin: 10px 0 0;
    color: rgb(231, 208, 102);
  }
  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(153, 32, 32, 0.6); 
  }
  .play-icon {
    font-size: 20px;
    color: white;
  }

  /* Adicione isso dentro da sua tag <style> */
.overlay-container {
  position: relative; /* Essencial para posicionar o overlay em relação à imagem */
  width: 100%;
  overflow: hidden;
}

.overlay-container img {
  display: block;
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:300px;
  width: 100%;
  opacity: 0; /* Inicia invisível */
  transition: opacity 0.5s ease;
  background-color: rgba(58, 41, 41, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

/* Regra que faz o overlay aparecer */
.overlay-container:hover .overlay-text {
  opacity: 1; 
}

header{
  background-color: rgb(55, 10, 131);
  color: rgba(233, 232, 232, 0.9);
  font-size: 25px;
  padding: 20px;
  text-align: center;

  display:flex;
  align-items: center;
  justify-content: center;
  gap:15px;

  width: 100%;
  height: 200px;             
  box-sizing: border-box;   
}
header img{
  width: 150px;
  height: 150px;
}